@model Lab28Framework.Models.Draw
@{
    ViewBag.Title = "Index";
}

<h2>Draw 5</h2>

<div class="card-group">
    @for (int i = 0; i < Model.Cards.Length; i++)
    {
        <div class="card" style="width: 8rem;">
            <img class="card-img-top" src="@Model.Cards[i].Images.Svg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.Cards[i].Code</h5>
                <p class="card-text">@Model.Cards[i].Value of @Model.Cards[i].Suit</p>
            </div>
        </div>
    }
</div>

